body{
    padding:15px;
}
.red{
    color:rgb(225, 48, 48);
    font-family:serif;
    font-weight: bold;
}
.sec1{
    color: maroon;
    font-family: serif;
    font-size: 19px;
}

.sec3{
    color: rgb(136, 32, 32);
   
    font-size: 16px;
}

#sec2{
    letter-spacing: 4px;
}